<div class="d-flex flex-row row p-2">
  <h3 class="main-menu mr-3">
    <a href="{{ .Site.BaseURL }}">Home</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `blog` | relURL }}">Blog</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `project` | relURL }}">Project</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `life` | relURL }}">Life</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `kubernetes` | relURL }}">Kubernetes</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `code` | relURL }}">Coding</a>
  </h3>
</div>
